.fuente{
    font-family: 'pacific', cursive;
}

.fondo{
    background-image: url("img/img1.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: top center;
}
.fondobanner{
    background-image: url(img/banner1.gif.crdownload);
    height: 600px;
    background-attachment: fixed;
}